<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>购物车</title>
    <style>
      .active {
        background-color: #ddd;
      }
      .message-box {
        padding: 10px 20px;
      }
      .message-box-close {
        float: right;
      }
      .success {
        background: #4fc08d;
        border: 1px solid #42b983;
      }
      .warning {
        background: #f66;
        border: 1px solid #d63200;
      }
      /* 动画样式 */
      /* 入场之前状态 */
      /* .fade-enter,.fade-leave-to {
            opacity: 0;
        }
        .fade-enter-active,.fade-leave-active {
            transition: opacity 1.5s
        } */
      .icon {
        width: 1em;
        height: 1em;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
      }
    </style>
    <script src="https://at.alicdn.com/t/font_1281272_fepjp89tyz9.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/animate.css@3.5.1"
      rel="stylesheet"
      type="text/css"
    />
    <!-- <script src="https://at.alicdn.com/t/font_1281272_fepjp89tyz9.js"></script> -->
    <script src="https://at.alicdn.com/t/font_1499089_c3nz78tx44e.js"></script>
    
  </head>

  <body>
    <div id="app">
      <!-- 插值文本 -->
      <h2 :title="title">{{title}}</h2>
      <heading level='1' :title="title" icon="gouwuche">
        购物车
      </heading>
      <!-- <heading level=2 :title="title" icon="cart">
        购物车
      </heading> -->
      <heading level='1' :title="title" icon="gouwuche">
        购物车
      </heading>
      <footing level='1' :title="title" icon="gouwuche">这个是底部</footing>
      <!-- 批量清除弹窗 -->
      <div v-permission="'admin'">
        <button @click="$bus.$emit('message-close')">清空提示框</button>
      </div>
      
      <!-- <footing :title="title" icon="cart">公共底部</footing> -->
      <!-- 弹窗 -->
      <!-- <message class="success" :show.sync="isShow"> -->
      <message class="success" ref="msgSuccess">
        <!-- 命名为title的具名插槽 -->
        <template v-slot:title="slotProps">
          <strong>hello{{ slotProps.title }}</strong>
        </template>
        <!-- 默认插槽 -->
        <template>
          新增课程成功！
        </template>
      </message>

      <message ref="msgWarning" class="warning">
        <!-- 命名为title的具名插槽 -->
        <template v-slot:title>
          <strong>警告</strong>
        </template>
        <!-- 默认插槽 -->
        <template>
          请输入课程的名称！
        </template>
      </message>

      <!-- 新增课程 -->
      <course-add v-model="course" @add-course="addCourse"></course-add>

      <!-- 批量更新课程价格 -->
      <p>
        <input v-model.number="price" type="number" step="1" />
        <button @click="batchUpdate">批量更新价格</button>
      </p>

      <!-- 课程列表组件 -->
      <course-list :courses="courses"></course-list>

      <!-- 商品总数 -->
      <p>
        <!-- 表达式 -->
        <!-- 课程总数: {{courses.length + ' 门'}} -->
        <!-- 计算属性 -->
        <!-- 课程总数: {{total}} -->
        <!-- 监听器 -->
        课程总数: {{totalCount}}
      </p>
    </div>
    <script src="vue.js"></script>
    <!-- <script src="./plugins/footing.js"></script> -->
    <script src="./plugins/heading.js"></script>
    <script>
      // 总线
      Vue.prototype.$bus = new Vue();
    //   Vue.component("heading", {
    //       functional: true,
    //     // template: `<h1 v-if="level === 1">
    //     //                 <p>1</p>
    //     //             </h1>
    //     //             <h2 v-else-if="level === 2">
    //     //                 <p>2</p>
    //     //             </h2>
    //     //             <h3 v-else-if="level === 3">
    //     //                 <p>3</p>
    //     //             </h3>
    //     //             <h4 v-else-if="level === 4">
    //     //                 <p>4</p>
    //     //             </h4>
    //     //             <h5 v-else-if="level === 5">
    //     //                 <p>5</p>
    //     //             </h5>
    //     //             <h6 v-else-if="level === 6">
    //     //                 <p>6</p>
    //     //             </h6>`,
    //     render(h,contex) {
    //       console.log(contex)
    //       let children = [];
    //       const {icon,title,level} = contex.props;
    //       if (icon) {
    //         children.push(
    //           h("svg", { class: "icon" }, [
    //             h("use", { attrs: { "xlink:href": "#icon" + icon } })
    //           ])
    //         );
    //       }
    //     //   children = children.concat(this.$slots.default);
    //       children = children.concat(contex.children);
    //       const vnode = h(
    //         "h" + level, // 标签名称
    //         { attrs: { title: title } },
    //         children // 子节点数组
    //       );
    //       return vnode;
    //     },
    //     props: {
    //       level: {
    //         type: Number,
    //         required: true
    //       },
    //       title: {
    //         type: String,
    //         required: true
    //       },
    //       icon: {
    //         type: String
    //       }
    //     }
    //   });

    //   混入
      const helloMixin = {
          data() {
              return {
                  name:'cyymix',
                  age: 19
              }
          },
          created() {
              this.hello()
          },
          methods: {
              hello() {
                  console.log(this)
                  console.log(this.name)
                  console.log(this.age)
              }
          },
      }
      // 弹窗组件
      Vue.component("message", {
        // props: ['show'],
        mixins: [helloMixin],
        data() {
          return {
            title: "来自子组件的标题",
            show: false,
            name: 'cyy'
          };
        },
        template: `
                <transition 
                name="custom-classes-transition"
                enter-active-class="animated tada"
                leave-active-class="animated bounceOutRight">
                    <div class="message-box" v-if="show">
                        <slot name="title" :title="title">默认标题</slot>
                        <slot></slot>
                        <span class="message-box-close" @click="toggle">X</span>
                    </div>
                </transition>
            `,
        mounted() {
          this.$bus.$on("message-close", () => {
            this.toggle();
            // this.$emit('update:show',false)
          });
        },
        methods: {
          toggle() {
            this.show = !this.show;
          }
        }
      });
      // 课程列表组件
      Vue.component("course-list", {
        data() {
          return {
            selectedCourse: ""
          };
        },
        props: {
          courses: {
            type: Array,
            default: () => []
          }
        },
        template: `<!-- 条件渲染 -->
                <p v-if="courses.length == 0">没有任何课程信息</p>
                <!-- 列表渲染 -->
                <div v-else>
                    <div v-for="(item,index) in courses" :key="index" :class="{active: selectedCourse === item}"
                    @click="selectedCourse = item">
                        {{ item.name }} - {{ item.price | currency('$') }}
                    </div>
                    <!-- style -->
                    <!-- <div v-for="item in courses" :key="item" 
                    :style="{backgroundColor: (selectedCourse === item ? '#ddd' : 'transparent')}"
                    @click="selectedCourse = item">
                        {{ item }}
                    </div> -->
                </div>`,
        filters: {
          currency: function(value, symbol = "￥") {
            return symbol + value;
          }
        }
      });
      // 课程新增组件
      Vue.component("course-add", {
        // model: {
        //     value: 'value',
        //     event: 'input'
        // },
        props: ["value"],
        template: `<!-- 表单输入 -->
                 <div>
                    <p>
                        <input ref="inp" v-focus type="text" :value="value" @input="onInput" @keydown.enter="addCourse">
                        <button @click="addCourse">新增</button>
                    </p>
                </div>
                `,
        methods: {
          addCourse() {
            // 派发事件通知父组件新增课程
            this.$emit("add-course");
          },
          onInput(e) {
            this.$emit("input", e.target.value);
          }
        },
        mounted() {
          //   this.$refs.inp.focus();
        }
      });
      Vue.filter("currency", function(value) {
        return value;
      });
      // 自定义指令
      Vue.directive("focus", {
        inserted(el) {
          el.focus();
        }
      });
      Vue.directive("permission", {
        inserted(el, binding) {
          if (binding.value !== "admin") {
            el.parentElement.removeChild(el);
          }
        }
      });
      const app = new Vue({
        el: "#app",
        data() {
          return {
            title: "购物车",
            course: "",
            courses: [],
            totalCount: 0,
            isShow: false,
            isShowWarn: false,
            price: 0
          };
        },
        beforeCreate() {
          // console.log('beforeCreate');
        },
        async created() {
          // console.log('created');
          this.courses = await this.getCourses();
          // 批量更新课程价格
          this.batchUpdate();
        },
        beforeMount() {
          // console.log('beforeMount');
        },
        mounted() {
          // console.log('mounted');
        },
        beforeUpdate() {
          // console.log('beforeUpdate')
        },
        updated() {
          // console.log('updated')
        },
        methods: {
          addCourse() {
            if (this.course) {
              this.courses.push({ name: this.course, price: 0 });
              (this.course = ""), this.$refs.msgSuccess.toggle();
              // this.isShow = true
            } else {
              // this.isShowWarn = true
              this.$refs.msgWarning.toggle();
            }
          },
          batchUpdate() {
            this.courses.forEach(element => {
              Vue.set(element, "price", this.price);
            });
            // this.courses.map((item)=> item.price = this.price)
          },
          getCourses() {
            return new Promise(resolve => {
              setTimeout(() => {
                resolve([{ name: "web全栈" }, { name: "web高级" }]);
              }, 0);
            });
          }
        },
        computed: {
          total() {
            return this.courses.length + " 门";
          }
        },
        // 默认情况下watch初始化不执行
        // watch: {
        //     courses(newValue, oldValue) {
        //         this.totalCount = newValue.length + '门'
        //     }
        // },
        // 带选项的watch
        watch: {
          courses: {
            immediate: true,
            deep: true,
            handler(newValue, oldValue) {
              this.totalCount = newValue.length + "门";
            }
          }
        }
        // render() {
        //     with(this){return _c('div',{attrs:{"id":"app"}},[_c('h2',{attrs:{"title":title}},[_v(_s(title))]),_v(" "),_c('p',[_c('input',{directives:[{name:"model",rawName:"v-model",value:(course),expression:"course"}],domProps:{"value":(course)},on:{"keydown":function($event){if(!$event.type.indexOf('key')&&_k($event.keyCode,"enter",13,$event.key,"Enter"))return null;return addCourse($event)},"input":function($event){if($event.target.composing)return;course=$event.target.value}}}),_v(" "),_c('button',{on:{"click":addCourse}},[_v("新增")])]),_v(" "),(courses.length == 0)?_c('p',[_v("没有任何课程信息")]):_c('div',_l((courses),function(item){return _c('div',{key:item,class:{active: selectedCourse === item},on:{"click":function($event){selectedCourse = item}}},[_v("\n                "+_s(item)+"\n            ")])}),0)])}
        // }
      });
      // 虚拟dom
      console.log(app.$options.render);
    </script>
  </body>
</html>
