<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>购物车</title>
    <style>
      
      /* 动画样式 */
      /* 入场之前状态 */
      /* .fade-enter,.fade-leave-to {
            opacity: 0;
        }
        .fade-enter-active,.fade-leave-active {
            transition: opacity 1.5s
        } */
      
    </style>
    <script src="https://at.alicdn.com/t/font_1281272_fepjp89tyz9.js"></script>
    
    <!-- <script src="https://at.alicdn.com/t/font_1281272_fepjp89tyz9.js"></script> -->
    <script src="https://at.alicdn.com/t/font_1499089_c3nz78tx44e.js"></script>
    
  </head>

  <body>
    <div id="app">
      <!-- 插值文本 -->
      <heading level='1' :title="title" icon="gouwuche">
        购物车
      </heading>
      <!-- <heading level=2 :title="title" icon="cart">
        购物车
      </heading> -->
      <heading level='1' :title="title" icon="gouwuche">
        购物车
      </heading>
      <footing level='1' :title="title" icon="gouwuche">这个是底部</footing>
      
      
      <!-- <footing :title="title" icon="cart">公共底部</footing> -->
      <!-- 弹窗 -->
      <!-- <message class="success" :show.sync="isShow"> -->
        <!-- <template>
            <transition
              name="custom-classes-transition"
              enter-active-class="animated tada"
              leave-active-class="animated bounceOutRight"
            >
              <div class="message-box" v-if="show">
                <slot name="title" :title="title">默认标题</slot>
                <slot></slot>
                <span class="message-box-close" @click="toggle">X</span>
              </div>
            </transition>
          </template> -->
      

      
    </div>
    <script src="vue.js"></script>
    <!-- <script src="./plugins/footing.js"></script> -->
    <script src="./plugins/heading.js"></script>
    <script>
      // 总线
      
    //   Vue.component("heading", {
    //       functional: true,
    //     // template: `<h1 v-if="level === 1">
    //     //                 <p>1</p>
    //     //             </h1>
    //     //             <h2 v-else-if="level === 2">
    //     //                 <p>2</p>
    //     //             </h2>
    //     //             <h3 v-else-if="level === 3">
    //     //                 <p>3</p>
    //     //             </h3>
    //     //             <h4 v-else-if="level === 4">
    //     //                 <p>4</p>
    //     //             </h4>
    //     //             <h5 v-else-if="level === 5">
    //     //                 <p>5</p>
    //     //             </h5>
    //     //             <h6 v-else-if="level === 6">
    //     //                 <p>6</p>
    //     //             </h6>`,
    //     render(h,contex) {
    //       console.log(contex)
    //       let children = [];
    //       const {icon,title,level} = contex.props;
    //       if (icon) {
    //         children.push(
    //           h("svg", { class: "icon" }, [
    //             h("use", { attrs: { "xlink:href": "#icon" + icon } })
    //           ])
    //         );
    //       }
    //     //   children = children.concat(this.$slots.default);
    //       children = children.concat(contex.children);
    //       const vnode = h(
    //         "h" + level, // 标签名称
    //         { attrs: { title: title } },
    //         children // 子节点数组
    //       );
    //       return vnode;
    //     },
    //     props: {
    //       level: {
    //         type: Number,
    //         required: true
    //       },
    //       title: {
    //         type: String,
    //         required: true
    //       },
    //       icon: {
    //         type: String
    //       }
    //     }
    //   });

    //   混入
      const helloMixin = {
          data() {
              return {
                  name:'cyymix',
                  age: 19
              }
          },
          created() {
              this.hello()
          },
          methods: {
              hello() {
                  console.log(this)
                  console.log(this.name)
                  console.log(this.age)
              }
          },
      }
      // 弹窗组件
     

      Vue.directive("permission", {
        inserted(el, binding) {
          if (binding.value !== "admin") {
            el.parentElement.removeChild(el);
          }
        }
      });
      const app = new Vue({
        el: "#app",
        data() {
          return {
            
            totalCount: 0,
            isShow: false,
            isShowWarn: false,
            price: 0
          };
        },
        beforeCreate() {
          // console.log('beforeCreate');
        },
        
        beforeMount() {
          // console.log('beforeMount');
        },
        mounted() {
          // console.log('mounted');
        },
        beforeUpdate() {
          // console.log('beforeUpdate')
        },
        updated() {
          // console.log('updated')
        },
        methods: {
          
          
        },
        
        // 带选项的watch
        watch: {
          courses: {
            immediate: true,
            deep: true,
            handler(newValue, oldValue) {
              this.totalCount = newValue.length + "门";
            }
          }
        }
        // render() {
        //     with(this){return _c('div',{attrs:{"id":"app"}},[_c('h2',{attrs:{"title":title}},[_v(_s(title))]),_v(" "),_c('p',[_c('input',{directives:[{name:"model",rawName:"v-model",value:(course),expression:"course"}],domProps:{"value":(course)},on:{"keydown":function($event){if(!$event.type.indexOf('key')&&_k($event.keyCode,"enter",13,$event.key,"Enter"))return null;return addCourse($event)},"input":function($event){if($event.target.composing)return;course=$event.target.value}}}),_v(" "),_c('button',{on:{"click":addCourse}},[_v("新增")])]),_v(" "),(courses.length == 0)?_c('p',[_v("没有任何课程信息")]):_c('div',_l((courses),function(item){return _c('div',{key:item,class:{active: selectedCourse === item},on:{"click":function($event){selectedCourse = item}}},[_v("\n                "+_s(item)+"\n            ")])}),0)])}
        // }
      });
      // 虚拟dom
      console.log(app.$options.render);
    </script>
  </body>
</html>
